ARTIFACTS/
CORPUS/
backup*.mzx
backup/
src/.build
src/.build_san*
desktop.ini
/moddiag
/moddiag.exe
/moddiag_san*
/modunpack
/modunpack.exe
/modunpack_san*
/dsymgen
/dsymgen.exe
/dsymgen_san*
/iffdump
/iffdump.exe
/iffdump_san*
/unarc
/unarc.exe
/unarc_san*
/unarcfs
/unarcfs.exe
/unarcfs_san*
/unlzx
/unlzx.exe
/unlzx_san*
